<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Job Website</title>
  <style>
    h1{
      text-align:center;
      color:rgb(100,100,100);
      font-family:Roboto;
      font-weight:normal;
      font-size:50px;
    }
    #banner{
      height:360px; 
      width:100%;
      object-fit:cover;
    }
    #container{
      max-width:720px;
      margin:0 auto;
    }
    h2{
      font-family:Roboto;
      font-weight:normal;
      text-align:center;
    }
    .bodytext{
      color:rgb(80,80,80);
    }
    button{
      text-align:center;
    }
  </style>
</head>
<body>
  <div id=container >
  <h1>Jovian</h1>
  <img id="banner" src="/static/img.jpg" alt="image">
  <h2>About Jovian</h2>
  <p class="bodytext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero sunt ipsa nam quae, ab ipsam recusandae iusto quod et voluptas, maxime ipsum a voluptate velit porro! Beatae iste cupiditate odit.Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero sunt ipsa nam quae, ab ipsam recusandae iusto quod et voluptas, maxime ipsum a voluptate velit porro! Beatae iste cupiditate odit.</p>
<h2>Job Oppenings</h2>
  <p class="bodytext">TODO </p>
  <button style="text-align:center;">Contact Us</button>
    <p>Copyright 2033, he-he </p>
</div>
</body>
</html>
